/* Barlow Condensed */
@font-face {
  font-family: 'Barlow Condensed';
  src: url('./Barlow_Condensed/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow Condensed';
  src: url('./Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Bellefair */
@font-face {
  font-family: 'Bellefair';
  src: url('./Bellefair/Bellefair-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}